package %package%;

import chelper.AbstractChecker;
import net.egork.chelper.tester.Verdict;
import template.io.FastInput;

public class %CheckerClass% extends AbstractChecker {
    public %CheckerClass%(String parameters) {
        super(parameters);
    }

    @Override
    public Verdict check(FastInput stdin, FastInput expect, FastInput actual) {
        return null;
    }
}