package %package%;

import java.io.InputStream;
import java.io.OutputStream;
import net.egork.chelper.tester.Verdict;
import template.io.FastInput;
import template.io.FastOutput;
import chelper.AbstractInteractor;

public class %InteractorClass% extends AbstractInteractor{
    public Verdict interact(FastInput input, FastInput solutionOutput, FastOutput solutionInput) throws Throwable{
    }
}
